.post-card-content,
.post-card-excerpt,
.post-full-content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.site-header-content,
.gh-head {
    background: black!important;
}

h2.site-description {
    color: white!important;
    z-index: 200;
}

.article-image {
    width: 75%!important;
    margin: 6vmin auto 0!important;
}

.gh-canvas {
    grid-template-columns:
        [full-start]
            minmax(4vmin, auto)
                [wide-start]
                minmax(auto, 240px)
                    [main-start]
                        min(960px, calc(100% - 4vw))
                    [main-end]
                minmax(auto, 240px)
                [wide-end]
            minmax(4vmin, auto)
        [full-end]
    ;
}

.gh-content {
    text-align: justify;
}

:root {

    /* Colours */
    --color-darkmode: #0d0e0e;

    /*
    An accent color is also set by Ghost itself in
    Ghost Admin > Settings > Brand

    --ghost-accent-color: {value};

    You can use this variale throughout your styles
     */

    /* Fonts */
    --font-serif: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

html.dark-mode .article-excerpt {
    color: white;
}

.tag-link {
    color: white;
}
